<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Blogs</title>
        <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">
    </head>
    <body>
        <!-- Navigation-->
      <%- include('header1.ejs') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../images/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Jeff Bezos is going to space</h1>
                            <h2 class="subheading">Here's where to watch Jeff Bezos and three other crew members go to space on Blue Origin's New Shepard rocket.</h2>
                            <span class="meta">
                                Posted
                                on August 24, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Blue Origin founder and billionaire Jeff Bezos is scheduled to blast off to space today (July 20), a flight that will concurrently set two records for oldest and youngest person in space. </p>
                        <p>Bezos will be aboard Blue Origin's New Shepard rocket, accompanied by female aviation pioneer Wally Funk, 82, his brother Mark Bezos, and 18-year-old Oliver Daemen, a physics student from the Netherlands whose father was the ultimate winner of an auction for a seat on the inaugural crewed flight of the private spacecraft.</p>
                        <p>You can watch the launch right here, as Live Science will host a livestream. The rocket will leave the pad in remote West Texas at approximately 9 a.m. EDT/6 a.m. PDT. Coverage begins at 7:30 a.m. EDT/4:30 a.m. PDT. There is no public in-person viewing of the launch site.
                        <h2 class="section-heading">Inaugural voyage</h2>
                        <p>Bezos founded Blue Origin in 2000 with the goal of developing vehicles for suborbital spaceflight, a goal that later expanded to orbital flight and even the development of a moon lander, Blue Moon. (The goal for an operational lander is set for 2024, but NASA awarded the contract for the development of a lander for its current Artemis mission to the moon to another private spaceflight company, SpaceX, leaving the future timeline of the project in question.) </p>
                        <p>Part of Blue Origin's goal is to enable private space tourism. The company held an auction for a seat on today's inaugural crewed flight, and an anonymous winner paid $28 million for the ticket. That person backed out, however, saying that they had scheduling conflicts and would ride a later mission. Oliver Daemen's father Joes Daemen, a hedge-fund manager from the Netherlands, was the runner-up. </p>
                        <p>The younger Daemen will become the youngest person ever to travel to space, beating by seven years the record of cosmonaut Gherman Titov, who orbited Earth at the age of 25 in 1961. Meanwhile, Funk will beat John Glenn's record for oldest person in space, which he set at the age of 77 in 1998.</p>
                        <h2 class="section-heading">Technical spectacle</h2>
                        <p>Today's flight will be the 16th for New Shepard, but the first with any humans aboard. The rocket first flew in April 2015, though the model that the Bezos brothers, Funk and Daemen will fly aboard was first launched in January 2021. </p>
                        <img class="img-fluid" src="https://cdn.mos.cms.futurecdn.net/GqgEGnG9jjQywU5xkywyvB-1024-80.jpg.webp" alt="..." />
                        <span class="caption text-muted">Bezos founded Blue Origin in 2000 with the goal of developing vehicles for suborbital spaceflight, a goal that later expanded to orbital flight and even the development of a moon lander, Blue Moon.</span>
                        <p>New Shepard consists of a six-person crew compartment perched atop a reusable booster powered by a BE-3 engine (for "Blue Engine 3"). It's piloted by onboard computers and does not require human intervention either from a pilot or from the ground. It's designed to reach the K치rm치n line located 62 miles (100 kilometers) up, which is one internationally-recognized boundary for space. (According to the U.S. government, space starts 50 miles, or 80.5 kilometers, up, and anyone who travels to that altitude is eligible for a U.S. astronaut badge.) </p>
                        <p>Bezos, Bezos, Funk and Daemen will experience suborbital spaceflight, meaning their craft will reach space, but that its trajectory will take it back down to Earth before it could actually orbit the planet. The passengers will experience a few moments of weightlessness and a pretty dramatic view of the planet. In 2016, Blue Origin fitted one of its boosters with a camera for a flight nearly to the K치rm치n line, which is available on YouTube(opens in new tab) and approximates what the passengers aboard New Shepard will see</p>
                        <p>
                            <p>
                                The flight comes on the heels of another billionaire's cruise into space. On July 11, Virgin Galactic founder Richard Branson traveled on the first crewed mission of the Unity 22 spacecraft, reaching 53 miles (86 km) above Earth's surface. 
                            </p>
                        </p>
                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
        <%- include('footer.ejs') %>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../javascripts/scripts.js"></script>
    </body>
</html>
