<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>My Blogs</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">
    </head>
    <body>
        <!-- Navigation-->
        <%- include('header1.ejs') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../images/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>The 1st Human on Mars May Be a Woman, NASA Chief Says</h1>
                            <h2 class="subheading">It won't be long before we see the first woman on Mars, and she just might beat the first man there, NASA Administrator Jim Bridenstine said</h2>
                            <span class="meta">
                                Posted
                                on August 24, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        
                       
                        <p>When NASA sends humans to the moon for the first time in more than half a century, one lucky astronaut will go down in history for becoming the first woman on the moon. Then it won't be long before we see the first woman on Mars, and she just might beat the first man there, according to NASA Administrator Jim Bridenstine.</p>
                        <img class="img-fluid" src="https://cdn.mos.cms.futurecdn.net/VFnvCnuZoMb7tPjecY3YEX-1024-80.jpg.webp" alt="..." />
                        <span class="caption text-muted">NASA Administrator Jim Bridenstine says the first astronaut to walk on Mars could be a woman. (Image credit: NASA)
                        </span>





                        


                        <p>"We could very well see the first person on Mars be a woman," Bridenstine told reporters on Friday (Oct. 18) during a news conference about the first all-woman spacewalk. "I think that could very well be a milestone," he added.</p>
                        <p>NASA currently has no concrete plans for landing humans on Mars — the moon is the agency's first priority — but Bridenstine has said that the first crewed Mars landing could happen sometime in the 2030s.  Meanwhile, the private spaceflight company SpaceX is working on its Starship Mars-colonizing rocket, which could help NASA send those astronaut pioneers to the Red Planet. </p>
                        <p>"If my 11-year-old daughter has her way, we'll have a woman on Mars in the not-too-distant future," Bridenstine said, adding that whoever ends up going to Mars is probably too young to have already been selected to join NASA's astronaut corps at this time. However, the soon-to-be first woman on the moon will likely be selected from NASA's current pool of active astronauts.</p>
                        <p>NASA has not yet announced who will be the first woman on the moon, but whoever she may be, she's scheduled to land in 2024. That moon landing mission is part of NASA's Artemis program, which is the agency's precursor to establishing a permanent human presence on and around the moon — something that may help pave the way to Mars.</p>
                        
                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
        <%- include('footer.ejs') %>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../javascripts/scripts.js"></script>
    </body>
</html>
